<?xml version="0.1.0"?>
<config>
  <modules>
    <Ambab_MegaMenu>
      <version>0.1.0</version>
    </Ambab_MegaMenu>
  </modules>
  <global>
    <helpers>
      <megamenu>
        <class>Ambab_MegaMenu_Helper</class>
      </megamenu>
    </helpers>
	<models>
	  <megamenu>
		<class>Ambab_MegaMenu_Model</class>
		<resourceModel>megamenu_mysql4</resourceModel>
	  </megamenu>
	</models>
	<resources>
	  <categoryattribute1464070363_setup>
		<setup>
		  <module>Ambab_MegaMenu</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1464070363_setup>
	  <categoryattribute1464070363_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1464070363_write>
	  <categoryattribute1464070363_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1464070363_read>
	</resources>
  </global>
</config> 